#chat
    #rooms
        button(onclick='loadOnlineUsers()', class='margin5') Back
        #room
        #nicknames
        form(action='#')#send-message
            input#message
            button(onclick='sendMessage()') Send