doctype 5
html
  head
    link(href='../stylesheets/style.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='/socket.io/socket.io.js')
    script
        // socket.io specific code
        var socket = io.connect();
        socket.on('connect', function () {
          $('#chat').addClass('connected');
        });

        window.onload = function getLoginPage () {
            $( "#content" ).load( "login" );

        }


    script(src='../controllers/login.js')
    script(src='../controllers/chatRoom.js')
    script(src='../controllers/onlineUsers.js')
    script(src='../controllers/register.js')



  body
    div#content( onload='getLoginPage()' )