#nickname

        p Enter your nickname.
        input#nick
        br
        button(onclick='login()')#enter-button Enter
        p#nickname-err Nickname already in use!
        p#nickname-blank Nickname shouldn't be blank!