#nickname
    h2 Register page
    form.wrap(action='#')#set-nickname
        p Enter your nickname.
        input(placeholder="Type your username")#nick
        p#nickname-err Nickname already in use!
        p#nickname-blank Nickname shouldn't be blank!
        br
        p Enter your password
        input(type="password", placeholder="Type your password")#password
        p#password-blank Password shouldn't be blank!
        br
        button(onclick='register()', class='enter-button') Register
